APP_ENV=local
APP_DEBUG=true
APP_KEY=jFIS0xwTpq8NosVkhnP4qXlQlyVSTHaX

DB_HOST=localhost
DB_DATABASE=rtusl5
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=iris.rtrdt.ch
MAIL_PORT=465
MAIL_USERNAME=test@retardedtech.net
MAIL_PASSWORD=MailTestErBest2015!

MAIL_ENCRYPTION=ssl
MAIL_SENDER_NAME=RTUSL5
MAIL_SENDER_ADDRESS=noreply@rtrdt.ch

MAIL_PRETEND=false
