a.btn-primary {
	color: #FFFFFF !important;
	-webkit-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	-ms-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}

footer {
	padding-top: 48px;
	padding-bottom: 48px;
	margin-top: 64px;
}

.card .card-action a {
	text-transform:none;
}

.button-collapse {
	margin-top: 1px;
}

.btn-readmore {
	margin-bottom: 14px !important;
}

.card .card-action {
	overflow:auto;
}
.card .card-image .card-title {
	position: inherit;
}

.card .card-image .card-title a {
	color:#fff;
}

hr {
	margin-top: 10px;
	margin-bottom: 15px;
	border: 0;
	border-top: 1px solid #eee;
}

.logo img {
	width: auto !important;
	height: auto !important;
	max-width: 600px !important;
	max-height: 150px !important;
}

.text-danger {
    color: #ac1818;
}