.avatar {
    background: #DDD no-repeat center/cover;
}

.card-profile-img {
	background: #DDD;
}

.header-brand img {
	max-height: 40px;
}

.header-toggler-icon {
	border-radius:none;
	width: 2rem;
	height: 5px;
	margin: -2px 0 0 -1rem;
	box-shadow: 0 8px currentColor, 0 -8px currentColor;
}

ul {
	list-style-type: disc;
	padding-left: 30px;
}

.social ul {
	list-style-type: none;
	padding-left: 0;
}

.iti-flag {background-image: url("/vobilet/images/intlTelInput/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti-flag {background-image: url("/vobilet/images/intlTelInput/flags@2x.png");}
}

.intl-tel-input {
	width: 100%;
}

.intl-tel-input .country-list .country.highlight {
	margin: 0;
}

a, .btn-link, .breadcrumb-item a {
	color: #2980b9;
}

a:hover, .btn-link:hover {
    color: #3498db;
}