a, .breadcrumb-item a {
	color:#3498db;
}

a:focus, a:hover, a:active {
	color: #eee;
}

.app-sidebar__toggle::before {
	content:none;
}

.app-sidebar__toggle {
	font-size: 21px;
}

.app-sidebar__toggle:hover {
	color: #eee;
}