a, .breadcrumb-item a {
	color:#3498db;
}

a:focus, a:hover, a:active {
	color: #eee;
}

.app-sidebar__toggle::before {
	content:none;
}

.app-sidebar__toggle {
	font-size: 21px;
}

.app-sidebar__toggle:hover {
	color: #eee;
}

.table-responsive {
	overflow-x: hidden;
}

.slide-item.active, .slide-item:hover, .slide-item:focus {
	background: #272b38;
}

.col-sm-3 a:hover {
	border-radius: 0;
	border: 1px solid #3f4759;
}

.list-group-item.active {
	color:inherit
}